.App {
  text-align: center;
}
/* *{
  padding:0;
  margin:0;
  box-sizing: border-box;
} */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ece91c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body{
  background: #fff;
  padding: 0 16px;
}
header{
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}
header h1{
  color: #fff;
  font-family: "McLaren",cursive ;
  font-weight: 200;
}
footer{
  position:absolute;
  text-align: center;
  bottom:0;
  width: 100%;
  height: 2.5rem;
}
footer p {
  color: #ccc;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.note {
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1{
  font-size: 1.1em;
  margin-bottom:6px ;
}
.note p{
  font-size: 1.1em;
  margin-bottom:10px ;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.createnote {
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.createnote input{
  font-size: 1.1em;
  box-shadow: 0 2px 5px rgb(229, 218, 218);
  margin-bottom:6px ;
}
.createnote textarea {
  font-size: 1.1em;
  margin-bottom:10px ;
  white-space: pre-wrap;
  word-wrap: break-word;
}